<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WATTARY</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="images/30.png" href="{{ url_for('static', filename='images/30.png') }}">
</head>

<body>
    <div id="wattary">
        <div class="word">WATTARY &nbsp; IS &nbsp; COMING &nbsp; SOON...</div>
        <div class="overlay"></div>
    </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js'></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>